:root{
  --prussian-blue: hsla(201, 100%, 14%, 1);
  --maximum-red: hsla(0, 69%, 50%, 1);
}
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.App{
  display: grid;
  place-content: center;
  font-family: 'Nunito', sans-serif;
  min-height: 400px;
  height: 100vh;
  min-height: 400px;
}

.quote__app{
  max-width: 600px;
  margin: 2rem;
  border-left: solid .5rem var(--maximum-red);
  padding: 1rem 2rem;
}

.quote__text{
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--prussian-blue);
}

.quote__author{
  font-size: .9rem;
  font-weight: bold;
  color: var(--prussian-blue);
}

.btns{
  display: flex;
  justify-content: space-between;
}

.quote__btn{
  background: var(--maximum-red);
  color: white;
  border: solid 2px var(--maximum-red);
  font-weight: bold;
  padding: .75rem 1rem;
  letter-spacing: 2px;
  outline: none;
  border-radius: .25rem;
  transition: all 0.3s linear
}

.quote__btn:hover{
  background: white;
  color: var(--maximum-red);
}

.quote__btn:active{
  background: var(--maximum-red);
  color: white;
  transform: scale(0.9);
}

.tweet__btn{
  background: var(--maximum-red);
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: .25rem;
  transition: linear 0.3s all;
}

.tweet__btn:hover{
  transform: rotateX(360deg);
}
